<mat-card>
    <mat-card-title class="accent-cooperchip">Alterar Paciente</mat-card-title>
    <form>

        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="paciente.nome" name="nome">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="CPF" [(ngModel)]="paciente.cpf" name="cpf">
        </mat-form-field>



        <select [(ngModel)]="paciente.estado" name="estado" id="estado" placeholder="Estado do Paciente">
          <option *ngFor="let estpaciente of estados" [value]="estpaciente.descricao">{{ estpaciente.descricao }}</option>
      </select>



    </form>

    <button mat-raised-button (click)="updatePaciente()" color="accent">
        Atualizar
    </button>

    <button mat-raised-button (click)="cancel()">
        Calcelar
    </button>

</mat-card>
