<mat-card>
    <mat-card-title class="accent-cooperchip">Alterar Paciente</mat-card-title>
    <form>

        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="paciente.nome" name="nome">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="CPF" [(ngModel)]="paciente.cpf" name="cpf">
        </mat-form-field>

        <!-- <h4>Basic mat-select</h4> -->
        <mat-form-field appearance="fill">
            <mat-label>Estado do Paciente</mat-label>
            <mat-select [(ngModel)]="paciente.estado" name="estado" id="estado">
                <mat-option *ngFor="let estpaciente of estados" [value]="estpaciente.descricao">
                    {{ estpaciente.descricao }}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </form>

    <button mat-raised-button (click)="updatePaciente()" color="accent">
        Atualizar
    </button>

    <button mat-raised-button (click)="cancel()">
        Calcelar
    </button>

</mat-card>
