
.header{
    display: flex;
    align-items: center;

    /* background-color: #ed5353; */
}

.header a {
    display: flexbox;
    align-items: center;
    text-decoration: none;
}

.header .logo {
    max-height: 30px;
    width: 200px;
}

.header .title-group{
    padding-left: 25px;;
    align-items: center;
}

.header .title-group i {
    padding-right: 5px;
    align-items: center;
}

