<mat-card>
    <mat-card-title class="azul-cooperchip">Adicionar Paciente</mat-card-title>

    <form>

        <mat-form-field>
            <input matInput [(ngModel)]="paciente.nome" name="nome" placeholder="Nome do Paciente">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="CPF" [(ngModel)]="paciente.cpf" name="cpf">
        </mat-form-field>



        <h4>Seleciona uma opção</h4>
        <mat-form-field appearance="fill">
            <mat-label>Estado do Paciente</mat-label>
            <mat-select [(ngModel)]="paciente.estado" name="estado" id="estado">
                <mat-option *ngFor="let estpaciente of estados" [value]="estpaciente.descricao">
                    {{ estpaciente.descricao }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <p>You selected: {{paciente.estado}}</p>

    </form>

    <button mat-raised-button (click)="createPaciente()" color="primary">
        Salvar
    </button>

    <button mat-raised-button (click)="cancel()">
        Calcelar
    </button>

</mat-card>
